<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>

  <script>
    $(function(){
      $('#logout').on('click', function(){
        $.post('/logout', 'out!', function(){
          document.location.href = '/login';
        });
      })
    });
  </script>
  </body>
</html>
